body {
    background-color:  azure;
}

img {
    float: right;
    margin-right: 8%;
    max-width: 85%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin-left: 2%;
}

td {
  text-align: left;
  padding: 5px;
  font-weight: bolder;
}

td:hover, h3:hover, a:hover, h2:hover {
    color: red;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

a {
  color: azure;
}

ul {
    background-color: black;
    text-align: center;
    list-style-type: none;
    width: 100%;
    padding: 10px;
}

li {
    padding: 12px;
    display: inline-block;
    font-size: larger;
    font-family:'Lucida Sans', sans-serif
}

h2 {
    margin-left: 2%;
    text-align: center;
    padding: 15px;
}
