body {
    background-color: azure;
}

img {
    float: right;
    clear: both;
    padding: 10px;
}

ul {
    background-color: black;
    padding: 10px;
    text-align: center;
    list-style-type: none;
}

li {
    padding: 12px;
    display: inline-block;
    font-size: larger;
    font-family:'Lucida Sans',  sans-serif
}

a {
    color: azure;
}

a:hover, a:active {
    color: red;
}

.first_paragraph::first-letter {
  font-size: 200%;
  color: red;


