body {
    background-color: azure;
}

ul {
    background-color: black;
    padding: 10px;
    text-align: center;
    list-style-type: none;
}

li {
    padding: 12px;
    display: inline-block;
    font-size: larger;
    font-family: 'Lucida Sans', sans-serif;
}

a {
    color: azure;
}

a:hover, :active {
    color: red;
}

.footer {
    text-align: center;
    color: azure;
    margin-top: 65px;
    background-color: black;
    padding: 12px;
    font-family:'Lucida Sans', sans-serif
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 70px;
    height: auto;
    max-width: 50%;
}
